# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# Model Weights
models/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Build
dist/
build/

# Python Packaging
*.egg-info/